body
{
	color: white;
	background-color: #404040;
	font-family: 'Lato', sans-serif;
    overflow: scroll;
    text-align: center;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#topbar
{
	clear: both;
	background-color: #128870;
	color: white;
	padding: 10px;
	margin-top: 20px;
	height: auto;
	border-style: solid;
	border-width: 3px;
	border-color: whitesmoke;

}

.zag
{
    clear: both;
	background-color: #128870;
	color: white;
    margin: 50px;
    padding-top: 50px;
    padding-bottom: 35px;
    text-align: center;
	border-style: solid;
	border-width: 3px;
	border-color: whitesmoke;
    text-shadow: 1px 1px #404040;
}

h1
{
    font-size: 72px;
    text-shadow: 1px 1px #404040;
    color: rgb(204, 98, 98);
}